<div ng-controller="adminCtrl">

  <h3>Add Product</h3>
    <form>
      <input ng-model='newProduct.title' placeholder='Title' type='text'/>
      <input ng-model='newProduct.description' placeholder='Description' type='text'>
      <input ng-model='newProduct.price' placeholder='Price' type='text'/>
      <input ng-model='newProduct.image' placeholder='Insert image here' type='url'/>
      <button type='submit' ng-click='postProduct(newProduct)'>Submit</button>
    </form>
  <hr/><br/>
  <h3>Edit Product</h3>
  <select ng-options='product.title for product in products' ng-model='selectedProduct'></select>
  <br/><br/>
    <form>
      <div ng-show='selectedProduct'>
        Current Title: {{selectedProduct.title}} </br>
        Current Price: {{selectedProduct.price}}
      </div>
      <input type='text' ng-model='editedProduct.title' placeholder='Title Edit'>
      <input type='text' ng-model='editedProduct.price' placeholder='Price Edit'>
      <button type='submit' ng-click='updateProduct(selectedProduct._id, editedProduct)'>Confirm Edits</button>
      <button ng-click='deleteProduct(selectedProduct._id)'>Delete Product</button>
    </form>
</div>
